@charset "utf-8";
@font-family:Helvetica,STHeiti STXihei,Microsoft JhengHei,Microsoft YaHei,Tohoma,Arial;
html,body{
	height: 100%;
	width: 100%;
	font-size: 16px;
	font-family: @font-family;
}
*{
	margin: 0;
	padding: 0;
	border: 0 none;
	//box-sizing: border-box;
}
.container{
	width: 100%;
	min-height: 100%;
}
header{
	height: 5rem;
	font-size: 3rem;
	line-height: 3rem;
	width: 100%;
	background-color: darkgray;
}
aside{
	width:10%;
	float: left;
	background-color: #222;	
}
article{
	margin-left: 10%;
    width: 90%;
    background-color: darkslategray;
}
footer{
	width: 100%;
    min-width: 248px;
    height: 2.5rem;
    background-color: #333;
    color: white;
    text-align: center;
}
